@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 350px;
    height: 300px;
}

.app {    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    cursor: default;
}

.title {
    color: #2c5dcd;
    margin: 5px;
    background: white;
    padding: 0 5px;
}

.subtitle {
    font-weight: 600;
    color: #166e00;
    background: white;
    padding: 0 5px;
}

.app__footer {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 8px;
    border-top: 1px solid lightgrey;
    color: grey;
    direction: ltr;
    background: white;
}

#canvas_container_div {
    position: absolute;
    bottom: 30px;
    opacity: 15%;
    z-index: -1;
}
  
#canvas {
    width: 100%;
    height: 100%;
}

.github-logo {
    height: 20px;
    margin-right: 5px;
}

.github-link {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    color: #166e00;
    font-size: 0.8rem;
}